.skills {
    text-align: center;
    background: white;
    padding: 3rem 0;
  }
  .skills h2 {
    font-size: 2rem;
    color: #333;
  }
  .skills ul {
    list-style: none;
    padding: 0;
  }
  .skills li {
    color: #666;
    margin-bottom: 0.5rem;
  }
  