@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: white;
  font-family: "Inter", sans-serif;
    overflow-x: hidden;
  }
  
h1 {
  font-size: 3rem;
}
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
/* Style des titres */
h1, h2, h3 {
  color: white;
  text-align: center;
}
/* Style des liens */
a {
  color: #f3f4f6;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Conteneur principal */
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
}

/* Boutons généraux */
.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.btn-primary {
  background-color: #6b46c1;
  color: white;
}

.btn-secondary {
  background-color: #3b82f6;
  color: white;
}


